<section>
  <div class="page-header">
    <h1>Tags</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="tag in vm.tags"
       ui-sref="tags.view({ tagId: tag._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="tag.created | date:'mediumDate'"></span>
        by
        <span ng-if="tag.user" ng-bind="tag.user.displayName"></span>
        <span ng-if="!tag.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="tag.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.tags.$resolved && !vm.tags.length">
    No Tags yet, why don't you <a ui-sref="tags.create">create one</a>?
  </div>
</section>
